In [1]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv('~/Downloads/HistoricalQuotes.csv')
df

            date     close        volume     open      high       low
0          16:00  274.2100     2,778,192  274.030  275.1900  273.4600
1     2019/07/10  274.2100  2853620.0000  274.020  275.1900  273.4600
2     2019/07/09  272.9400  2532925.0000  271.400  273.2200  271.3400
3     2019/07/08  272.6000  3131845.0000  272.790  273.0600  272.0300
4     2019/07/05  273.9700  3362535.0000  273.140  274.2500  271.8600
5     2019/07/03  274.3200  2335798.0000  272.910  274.3700  272.7600
6     2019/07/02  272.2300  3041654.0000  271.470  272.2500  270.6200
7     2019/07/01  271.4400  4505600.0000  272.460  272.6501  270.3000
8     2019/06/28  269.1500  2883271.0000  268.700  269.5500  268.1800
9     2019/06/27  267.6700  2054580.0000  267.490  268.1900  267.1702
10    2019/06/26  268.1200  2988721.0000  269.300  269.8200  268.0200
11    2019/06/25  268.3800  2287082.0000  271.100  271.1300  268.2700
12    2019/06/24  271.0600  3518370.0000  271.590  271.9207  270.9000
13    2019/06/21  271.4100  2225992.0000  271.530  272.7900  271.1700
14    2019/06/20  271.7300  3288090.0000  271.940  272.1900  269.7300
15    2019/06/19  269.2200  1684486.0000  268.740  269.7200  267.7600
16    2019/06/18  268.5100  2340697.0000  267.650  269.6600  267.3000
17    2019/06/17  265.8600  1782613.0000  265.940  266.5600  265.6200
18    2019/06/14  265.6200  1203356.0000  265.710  266.2900  264.9100
19    2019/06/13  266.0200  1813685.0000  265.820  266.3600  265.1100
20    2019/06/12  264.8400  1712276.0000  265.120  265.7000  264.3550
21    2019/06/11  265.3400  1894531.0000  267.250  267.6500  264.6900
22    2019/06/10  265.3900  2846143.0000  265.760  267.1000  265.3000
23    2019/06/07  264.1500  1877426.0000  262.620  265.2900  262.4500
24    2019/06/06  261.5400  2277840.0000  260.170  262.2550  259.5101
25    2019/06/05  259.8500  2646522.0000  259.240  259.8800  257.4200
26    2019/06/04  257.6700  3536293.0000  254.480  257.7600  254.0300
27    2019/06/03  252.1200  3825614.0000  252.830  253.9597  250.7700
28    2019/05/31  252.8700  3698782.0000  253.630  254.4900  252.7700
29    2019/05/30  256.3000  2977192.0000  256.280  257.1800  255.1400
...          ...       ...           ...      ...       ...       ...
2194  2010/10/20  107.7600    22799.0000  106.940  108.1600  106.9400
2195  2010/10/19  106.6202    38548.0000  107.140  107.6800  106.0200
2196  2010/10/18  108.3400    22849.0000  107.620  108.4400  107.4400
2197  2010/10/15  107.5600    54913.0000  108.040  108.0800  106.7200
2198  2010/10/14  107.3600    19075.0000  107.700  107.8180  106.8000
2199  2010/10/13  107.7600    74418.0000  107.580  108.2800  107.2400
2200  2010/10/12  107.1200    42019.0000  106.380  107.2400  105.7400
2201  2010/10/11  106.5000    14182.0000  106.720  106.8400  106.2800
2202  2010/10/08  106.6798    61519.0000  106.020  106.7400  105.6600
2203  2010/10/07  105.8800    49869.0000  106.500  106.5000  105.3200
2204  2010/10/06  105.9360   276890.0000  106.120  106.2800  105.6200
2205  2010/10/05  106.1160    19836.0000  105.020  106.2000  104.8200
2206  2010/10/04  103.8400    88699.0000  105.260  105.2600  103.5000
2207  2010/10/01  104.7200    17065.0000  105.080  105.1600  104.1648
2208  2010/09/30  104.3600    44707.0000  105.200  105.6800  103.9600
2209  2010/09/29  104.5200    15890.0000  104.580  104.9100  104.2200
2210  2010/09/28  105.0200    49853.0000  104.318  105.0200  103.4200
2211  2010/09/27  104.3400    15045.0000  104.980  104.9800  104.3400
2212  2010/09/24  104.8400    24127.0000  103.940  104.9000  103.8680
2213  2010/09/23  103.3062    33358.0000  103.320  104.3400  103.1200
2214  2010/09/22  104.1600    18148.0000  104.560  105.0400  103.9600
2215  2010/09/21  104.7198    19287.0000  105.020  105.4400  104.2800
2216  2010/09/20  105.0400    19006.0000  103.740  105.0400  103.4600
2217  2010/09/17  103.3600    49365.0000  103.880  103.8800  103.0200
2218  2010/09/16  103.2600    59581.0000  103.020  103.3200  102.7000
2219  2010/09/15  103.3000     9283.0000  102.620  103.3800  102.4000
2220  2010/09/14  103.0380    59420.0000  102.840  103.4800  102.3800
2221  2010/09/13  103.0600    33753.0000  102.960  103.1400  102.5000
2222  2010/09/10  101.7800     8638.0000  101.680  101.8600  101.2960
2223  2010/09/09  101.3200    26513.0000  102.500  102.5000  101.1400

[2224 rows x 6 columns]

In [10]:
# drop first row
df = df.iloc[1:]

In [32]:
# try buying at different date of month to see average price
# end with 01
print(df[df['date'].str.endswith('/01')]['close'].mean())
print(df[df['date'].str.endswith('/02')]['close'].mean())
print(df[df['date'].str.endswith('/03')]['close'].mean())
print(df[df['date'].str.endswith('/04')]['close'].mean())
print(df[df['date'].str.endswith('/05')]['close'].mean())
print(df[df['date'].str.endswith('/06')]['close'].mean())
print(df[df['date'].str.endswith('/07')]['close'].mean())
print(df[df['date'].str.endswith('/08')]['close'].mean())
print(df[df['date'].str.endswith('/09')]['close'].mean())
print(df[df['date'].str.endswith('/10')]['close'].mean())
print(df[df['date'].str.endswith('/11')]['close'].mean())
print(df[df['date'].str.endswith('/12')]['close'].mean())
print(df[df['date'].str.endswith('/13')]['close'].mean())
print(df[df['date'].str.endswith('/14')]['close'].mean())
print(df[df['date'].str.endswith('/15')]['close'].mean())
print(df[df['date'].str.endswith('/16')]['close'].mean())
print(df[df['date'].str.endswith('/17')]['close'].mean())
print(df[df['date'].str.endswith('/18')]['close'].mean())
print(df[df['date'].str.endswith('/19')]['close'].mean())
print(df[df['date'].str.endswith('/20')]['close'].mean())
print(df[df['date'].str.endswith('/21')]['close'].mean())
print(df[df['date'].str.endswith('/22')]['close'].mean())
print(df[df['date'].str.endswith('/23')]['close'].mean())
print(df[df['date'].str.endswith('/24')]['close'].mean())
print(df[df['date'].str.endswith('/25')]['close'].mean())
print(df[df['date'].str.endswith('/26')]['close'].mean())
print(df[df['date'].str.endswith('/27')]['close'].mean())
print(df[df['date'].str.endswith('/28')]['close'].mean())
print(df[df['date'].str.endswith('/29')]['close'].mean())
print(df[df['date'].str.endswith('/30')]['close'].mean())
print(df[df['date'].str.endswith('/31')]['close'].mean())

180.43637681159427
181.85904225352118
180.57225352112673
179.14417647058823
182.92698630136985
182.36821333333336
180.22178933333328
181.54302368421057
180.1199600000001
180.52513026315785
179.92910526315794
182.22512533333324
180.89140259740253
179.25139473684217
178.77791891891889
179.72112676056335
180.90739726027402
180.99958333333325
180.7743083333333
182.21023918918922
180.59362432432428
180.86095890410962
178.76055068493153
181.1805527777778
180.44701492537314
183.4154507042254
180.74881216216218
180.03951351351364
179.77585294117648
180.48109375000007
181.60068181818184

In [37]:
# By Month
print(df[df['date'].str.contains('/01/')]['close'].mean())
print(df[df['date'].str.contains('/02/')]['close'].mean())
print(df[df['date'].str.contains('/03/')]['close'].mean())
print(df[df['date'].str.contains('/04/')]['close'].mean())
print(df[df['date'].str.contains('/05/')]['close'].mean())
print(df[df['date'].str.contains('/06/')]['close'].mean())
print(df[df['date'].str.contains('/07/')]['close'].mean())
print(df[df['date'].str.contains('/08/')]['close'].mean())
print(df[df['date'].str.contains('/09/')]['close'].mean())
print(df[df['date'].str.contains('/10/')]['close'].mean())
print(df[df['date'].str.contains('/11/')]['close'].mean())
print(df[df['date'].str.contains('/12/')]['close'].mean())

178.6165907103825
180.8633190751445
184.08115641025648
185.7523838709678
187.2779834196891
187.80550366492153
184.7426857142857
180.82003798882684
173.75884157303378
174.02036548223347
175.38763675675676
175.55957393617024

In [50]:
# By Monday, Monday is 0 in number
df['day_of_week'] = pd.to_datetime(df['date']).dt.dayofweek

/Users/limengying/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [52]:
df[:10]

          date   close        volume    open      high       low  day_of_week
1   2019/07/10  274.21  2853620.0000  274.02  275.1900  273.4600            2
2   2019/07/09  272.94  2532925.0000  271.40  273.2200  271.3400            1
3   2019/07/08  272.60  3131845.0000  272.79  273.0600  272.0300            0
4   2019/07/05  273.97  3362535.0000  273.14  274.2500  271.8600            4
5   2019/07/03  274.32  2335798.0000  272.91  274.3700  272.7600            2
6   2019/07/02  272.23  3041654.0000  271.47  272.2500  270.6200            1
7   2019/07/01  271.44  4505600.0000  272.46  272.6501  270.3000            0
8   2019/06/28  269.15  2883271.0000  268.70  269.5500  268.1800            4
9   2019/06/27  267.67  2054580.0000  267.49  268.1900  267.1702            3
10  2019/06/26  268.12  2988721.0000  269.30  269.8200  268.0200            2

In [57]:
print(df[df['day_of_week']==0]['close'].mean())
print(df[df['day_of_week']==1]['close'].mean())
print(df[df['day_of_week']==2]['close'].mean())
print(df[df['day_of_week']==3]['close'].mean())
print(df[df['day_of_week']==4]['close'].mean())
print(df[df['day_of_week']==5]['close'].mean())  # Saturday and Sunday market close
print(df[df['day_of_week']==6]['close'].mean())

180.6737230215825
180.89279362637356
180.82948004385943
180.58084062500004
180.74181968680085
nan
nan